<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <img src="<%= uploads%>" alt="" style="width: 300px" />
    <br /><br />
    <span>비밀번호 : <%= pw%></span><br />
    <span>이름 : <%= name%></span><br />
    <span>나이 : <%= age%></span><br />
  </body>
</html>
