/* 하위(후손) 선택자 공백(띄어쓰기)*/
body section{
    /* 경계선: 두께 선스타일 선색상 */
    border: 1px solid blue;
}

body section h2 {
    border: 1px solid green;
}

/* 자식선택자(>) */
.first > h2{
    color: white;
    background-color: navy;
}

.second > h2{
    color: navy;
    background-color: whitesmoke;
}

/* 인접 형제 선택자, (id를 갖는 요소 바로 뒤에 li태그가 있어야만 적용)*/
#kong + li{
    background-color: aqua;
}

/* 일반형제선택자:~, 이름은 안 외워도 된다  */
#kong ~ li{
    color: rgb(231, 43, 36);
}
/* CSS 색상 */
/* 
1. 색상키워드: red,blue, green
2. 16진수 코드
0~9,a,b,c,d,e,f : 16개의 기호로 표현
#ffffff red(ff), green(ff), blue(ff)=white
#000000 red(00), green(00), blue(00)=black

3. rgb(0~255,0~255,0~255)
-rgb(255, 255, 255):white
-rgb(0,0,0) black
*/