<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인 페이지 입니다.</title>
  </head>
  <body>
    <section
      style="background-color: aquamarine; width: 500px; padding-bottom: 30px"
    >
      <h1>환영합니다. 로그인 해주세요</h1>
      아이디:
      <input type="text" placeholder="아이디를 입력해주세요" /><br />
      패스워드:
      <input type="text" placeholder="비밀번호를 입력해주세요" />
      <input type="button" value="제출" /><br /><br />
      <a href="/register" style="display: flexbox; align-items: center"
        ><button>회원가입은 여기로!</button></a
      >
    </section>
  </body>
</html>
